*{
    font-family: 'Roboto';
}

/*Code Written For the Header Section Starts Here*/
body{
    display: flex;
    flex-direction: column;
    margin:  0;
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
}
.image img{
    
    max-width: 100%;
    height: auto;
    margin-bottom: 36px;
    
}
.containerOne{
    background-color: #1f2937;
    width: 100%;
}
.headerLinks{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.headerLinks ul{
    display: flex;
    list-style: none;
    gap: 16px;
}
.headerLinks ul a, .content p{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.content button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    height:30px;
    width: 100px;
}
.content h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

/*Code Written For the Header Section Ends Here*/

/*Code Written For the Second Container Starts Here*/
.containerTwo{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 450px;
}
.containerTwo h1{
    font-size: 36px;
    font-weight: 900;
}
.my-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.my-images img {
    width: 200px; 
    height: 150px; 
    border-radius: 10px; 
}
/*Code Written For the second container Ends Here*/

/*Code Written For the Third Container Starts Here*/

.containerThree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    background-color: #E5E7EB;
    height: 400px;

}
.quote{
    font-style: italic;
    font-weight: 300;

}
.author{
    display: flex;
    justify-content: end;
    color: #1f2937;
    font-style: bold;
    font-weight: 650;
}

/*Code Written For the Third Container ends Here*/

/*Code Written For the four Container Starts Here*/

.containerFour{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    height: 250px;

}
.inside-containerFour{
    display: flex;
    background-color: #3882f6;
    width: 60%;
    border-radius: 5px;
    justify-content: space-evenly;
}
.containerFourButton button{
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.containerFourButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerFourtext h3 {
    margin-bottom: 10px; 
}

.containerFourtext p {
    margin-top: 10px;
}
/*Code Written For the four Container Ends Here*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
    color: #f9faf8;
}